!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
  %body
    .container
      .row
        %h1 CrossRef DOI Content Negotiation Service
        %p 
          See
          %a{"href" => "http://crosscite.org/cn"} documentation
          for details.      
         